# ANÁLISIS DE SERIES DE TIEMPO

Conjuntos de valores que están organizados en orden cronológico

physiobankATM -> Página para datos clínicos

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

In [3]:
url ='https://raw.githubusercontent.com/nicoavilan/Bases-de-datos/main/ECG.csv'
df = pd.read_csv(url)
df.head()

,'Elapsed time','I','II','III','AVR','AVL','AVF','V1','V2','V3','V4','V5','V6'
0,'hh:mm:ss.mmm','mV','mV','mV','mV','mV','mV','mV','mV','mV','mV','mV','mV'
1,'0:00.000',0.080,0.260,0.180,-0.170,-0.050,0.220,0.010,0.330,0.488,0.505,0.323,0.215
2,'0:00.001',0.075,0.255,0.180,-0.165,-0.050,0.218,0.010,0.325,0.483,0.495,0.320,0.215
3,'0:00.002',0.070,0.248,0.178,-0.158,-0.053,0.213,0.010,0.315,0.465,0.473,0.308,0.210
4,'0:00.003',0.073,0.245,0.175,-0.158,-0.050,0.210,0.008,0.303,0.435,0.448,0.288,0.195

In [4]:
df.loc[0]

'Elapsed time'    'hh:mm:ss.mmm'
'I'                         'mV'
'II'                        'mV'
'III'                       'mV'
'AVR'                       'mV'
'AVL'                       'mV'
'AVF'                       'mV'
'V1'                        'mV'
'V2'                        'mV'
'V3'                        'mV'
'V4'                        'mV'
'V5'                        'mV'
'V6'                        'mV'
Name: 0, dtype: object

In [5]:
df.drop( labels = 0, inplace = True)

In [9]:
df.columns = ['Elapsed time', 'I', 'II', 'III', 
           'AVR', 'AVL', 'AVF',
       'V1', 'V2', 'V3', 'V4', 'V5', 'V6']

In [11]:
df.head()

,Elapsed time,I,II,III,AVR,AVL,AVF,V1,V2,V3,V4,V5,V6
1,'0:00.000',0.080,0.260,0.180,-0.170,-0.050,0.220,0.010,0.330,0.488,0.505,0.323,0.215
2,'0:00.001',0.075,0.255,0.180,-0.165,-0.050,0.218,0.010,0.325,0.483,0.495,0.320,0.215
3,'0:00.002',0.070,0.248,0.178,-0.158,-0.053,0.213,0.010,0.315,0.465,0.473,0.308,0.210
4,'0:00.003',0.073,0.245,0.175,-0.158,-0.050,0.210,0.008,0.303,0.435,0.448,0.288,0.195
5,'0:00.004',0.075,0.248,0.173,-0.160,-0.048,0.210,0.005,0.298,0.423,0.438,0.278,0.185

In [12]:
print(df.loc[1, 'II'])

0.260

In [13]:
type(df.loc[1, 'II'])

str

Cambio el formato de la columna a tipo float

In [18]:
df['II'] = pd.to_numeric(df['II'], downcast = 'float', errors = 'coerce')

In [20]:
type(df.loc[1, 'II'])

numpy.float32

In [21]:
print(df.loc[1, 'Elapsed time'])

'0:00.000'

In [22]:
type(df.loc[1, 'Elapsed time'])

str

In [25]:
df ['Elapsed time'] = df ['Elapsed time'].str.replace("'", "", regex = False)
df

,Elapsed time,I,II,III,AVR,AVL,AVF,V1,V2,V3,V4,V5,V6
1,0:00.000,0.080,0.260,0.180,-0.170,-0.050,0.220,0.010,0.330,0.488,0.505,0.323,0.215
2,0:00.001,0.075,0.255,0.180,-0.165,-0.050,0.218,0.010,0.325,0.483,0.495,0.320,0.215
3,0:00.002,0.070,0.248,0.178,-0.158,-0.053,0.213,0.010,0.315,0.465,0.473,0.308,0.210
4,0:00.003,0.073,0.245,0.175,-0.158,-0.050,0.210,0.008,0.303,0.435,0.448,0.288,0.195
5,0:00.004,0.075,0.248,0.173,-0.160,-0.048,0.210,0.005,0.298,0.423,0.438,0.278,0.185
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,0:09.995,0.008,0.845,0.838,-0.425,-0.415,0.840,-0.685,-1.593,-0.790,2.275,1.863,1.135
9997,0:09.996,0.023,0.630,0.608,-0.325,-0.293,0.618,-0.685,-1.445,-0.803,2.198,1.748,1.035
9998,0:09.997,0.048,0.403,0.355,-0.225,-0.153,0.378,-0.713,-1.275,-0.813,2.040,1.568,0.903
9999,0:09.998,0.058,0.388,0.330,-0.223,-0.135,0.358,-0.723,-1.253,-0.803,2.008,1.538,0.885
10000,0:09.999,0.045,0.463,0.418,-0.255,-0.185,0.440,-0.708,-1.313,-0.803,2.070,1.605,0.933

In [26]:
print(df.loc[1, 'Elapsed time'])

0:00.000

In [29]:
df['Elapsed time'] = pd.to_datetime(df['Elapsed time'], format = '%M:%S.%f').dt.time

In [30]:
df

,Elapsed time,I,II,III,AVR,AVL,AVF,V1,V2,V3,V4,V5,V6
1,00:00:00,0.080,0.260,0.180,-0.170,-0.050,0.220,0.010,0.330,0.488,0.505,0.323,0.215
2,00:00:00.001000,0.075,0.255,0.180,-0.165,-0.050,0.218,0.010,0.325,0.483,0.495,0.320,0.215
3,00:00:00.002000,0.070,0.248,0.178,-0.158,-0.053,0.213,0.010,0.315,0.465,0.473,0.308,0.210
4,00:00:00.003000,0.073,0.245,0.175,-0.158,-0.050,0.210,0.008,0.303,0.435,0.448,0.288,0.195
5,00:00:00.004000,0.075,0.248,0.173,-0.160,-0.048,0.210,0.005,0.298,0.423,0.438,0.278,0.185
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,00:00:09.995000,0.008,0.845,0.838,-0.425,-0.415,0.840,-0.685,-1.593,-0.790,2.275,1.863,1.135
9997,00:00:09.996000,0.023,0.630,0.608,-0.325,-0.293,0.618,-0.685,-1.445,-0.803,2.198,1.748,1.035
9998,00:00:09.997000,0.048,0.403,0.355,-0.225,-0.153,0.378,-0.713,-1.275,-0.813,2.040,1.568,0.903
9999,00:00:09.998000,0.058,0.388,0.330,-0.223,-0.135,0.358,-0.723,-1.253,-0.803,2.008,1.538,0.885
10000,00:00:09.999000,0.045,0.463,0.418,-0.255,-0.185,0.440,-0.708,-1.313,-0.803,2.070,1.605,0.933

In [32]:
type(df.loc[1, 'Elapsed time'])

datetime.time